// base
@import './base/reset';

// fonts
@import './fonts/fonts';

// sass-utils
@import './sass-utils/variables';
@import './sass-utils/mixins';
@import './sass-utils/global';

// components
@import './components/overlay';
@import './components/burger';
@import './components/menu';
@import './components/meta';

// layouts
@import './layout/header';
@import './layout/hero';
@import './layout/navigate';
@import './layout/footer';

.info {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-top: 100px;
	padding-bottom: 100px;
	@media screen and (max-width: 992px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.pt-80 {
	padding-top: 80px;
}
p {
	a {
		color: #f80059;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
		text-decoration-line: underline;
	}
}

.text-box {
	display: flex;
	flex-direction: column;
	gap: 12px;
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 12px;
	}
	&__title {
		margin-bottom: 12px;
		color: var(--title);
		font-family: Hind;
		font-size: 28px;
		font-weight: 700;
		line-height: 150%;
	}
}

.entry-content {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 24px 0;

		li {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 20px;
				height: 10px;
				background-image: url('../img/ul.png');
				background-position: center center;
				background-size: 20px 10px;
				background-repeat: no-repeat;
				@media screen and (max-width: 992px) {
					left: -10px;
				}
			}
			padding-left: 40px;
			@media screen and (max-width: 992px) {
				padding-left: 20px;
			}
		}
	}
	ol {
		display: flex;
		flex-direction: column;
		gap: 16px;
		list-style: none;
		margin: 0;
		padding: 0;
		counter-reset: section;
		padding: 24px 0;
		li {
			position: relative;
			&::before {
				content: counter(section);
				position: absolute;
				top: 4px;
				left: 0;
				width: 20px;
				height: 20px;
				background-color: #f80059;
				border-radius: 50%;
				display: grid;
				place-items: center;

				color: #fff;
				font-family: Montserrat;
				font-size: 12px;
				font-weight: 700;
				line-height: normal;
			}
			counter-increment: section;
			padding-left: 40px;
			@media screen and (max-width: 992px) {
				padding-left: 20px;
			}
		}
	}
}
