.menu {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 8px 16px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu > li {
	position: relative;
	border-radius: 24px;
	transition: background-color 300ms ease;
}

.menu > li > a {
	position: relative;
	z-index: 1;

	display: block;
	padding: 13px 24px;

	color: #fff;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
	text-decoration: none;
	transition: color 300ms ease;

	cursor: pointer;
}

.menu-item-primary .sub-menu {
	background-color: var(--red);
	@media screen and (max-width: 992px) {
		background-color: #fff;
	}
}
.menu .menu-item-primary {
	border: 2px solid var(--red);
	& > a {
		color: var(--red);
	}

	@include hover {
		background-color: var(--red);
		& > a {
			color: #fff;
		}
	}
}
.menu .menu-item-secondary {
	border: 2px solid var(--blue);
	& > a {
		color: var(--blue);
	}

	@include hover {
		background-color: var(--blue);
		& > a {
			color: #fff;
		}
	}
}

//
//
//
.menu .menu-item-has-children {
	padding: 13px 24px;
	padding-right: 42px;
	& > a {
		display: inline;
		padding: 0;
	}
}
.menu-item-primary.menu-item-has-children {
	&::after {
		background-image: url('../img/plus-red.svg');
	}
}
.menu-item-primary.menu-item-has-children {
	@include hover {
		&::after {
			background-image: url('../img/minus.svg');
		}
	}
}
.menu-item-secondary.menu-item-has-children {
	&::after {
		background-image: url('../img/plus.svg');
	}
}
.menu-item-secondary.menu-item-has-children {
	@include hover {
		&::after {
			background-image: url('../img/minus.svg');
		}
	}
}

.menu-item-has-children::after {
	content: '';
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;

	background-position: center center;
	background-size: 8px 8px;
	background-repeat: no-repeat;
	transition: transform 150ms ease-in-out;
}

.menu-item.menu-item-has-children::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: transparent;
	visibility: hidden;
	@media screen and (max-width: 992px) {
		display: none;
	}
}

.menu-item.menu-item-has-children {
	@include hover {
		&::before {
			visibility: visible;
		}
	}
}
.menu-item-has-children {
	&:hover {
		.sub-menu {
			opacity: 1;
			visibility: visible;
		}
	}
}

/* Sub Menu */
.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;

	z-index: 1;
	left: 0;
	top: 100%;
	margin-top: 16px;
	min-width: 200px;

	border-radius: 6px;
	background: var(--blue);
	transition:
		opacity 150ms ease-in-out,
		visibility 150ms ease-in-out,
		max-height 150ms ease-in-out;

	opacity: 0;
	visibility: hidden;

	@media screen and (max-width: 992px) {
		opacity: 1;
		position: static;
		transform: none;
		visibility: visible;
		max-height: 0px;
		overflow: hidden;
		max-width: 100%;
		margin-top: 0;
		background-color: transparent;
	}
}

.sub-menu > .menu-item {
	padding: 8px 24px;
	&:not(:last-child) {
		& > a {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			@media screen and (max-width: 992px) {
				border-bottom: 1px solid #000;
			}
		}
	}
}

.sub-menu > .menu-item > a {
	text-decoration: none;
	@media screen and (max-width: 992px) {
		color: #222;
	}

	display: block;
	padding: 12px 10px;
	color: #fff;
	color: #fff;
	text-align: center;
	font-family: Nunito Sans;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.48px;
	text-transform: capitalize;
}

.sub-menu > .menu-item > a:hover,
.sub-menu > .menu-item > a:active {
	font-weight: 700;
}

//

//
.header__menu.menu > li {
	@media screen and (max-width: 992px) {
		width: 100%;
	}
}
