<footer class="footer">
	<div class="footer__container container">
		<div class="footer__item">
			<div class="footer__title">Quick Links</div>
			<ul class="menu menu-secondary footer__menu">
				<li class="menu-item">
					<a href="#">Savings and Discounts</a>
				</li>
				<li class="menu-item">
					<a href="#">Custome Protection</a>
				</li>
				<li class="menu-item">
					<a href="#">Why Are Our Prices Lower?</a>
				</li>
			</ul>
			<a href="#" class="logo footer__logo"
				><img
					width="183"
					height="42"
					src="./assets/img/footer-logo.svg"
					alt="logo"
			/></a>
		</div>
		<div class="footer__item">
			<div class="footer__title">Our Company</div>
			<ul class="menu menu-secondary footer__menu">
				<li class="menu-item">
					<a href="#">Our Pipeline</a>
				</li>
				<li class="menu-item">
					<a href="#">Partnering</a>
				</li>
				<li class="menu-item">
					<a href="#">Management</a>
				</li>
				<li class="menu-item">
					<a href="#">Investors</a>
				</li>
				<li class="menu-item">
					<a href="#">Disclaimer</a>
				</li>
				<li class="menu-item">
					<a href="#">Terms And Conditions</a>
				</li>
			</ul>
		</div>
		<div class="footer__item">
			<div class="footer__title">Contacts</div>
			<div>To contact the Innocrin team:</div>
			<div class="footer__wrap">
				<div class="footer__title-small">Email</div>
				<a href="mailto:support@innocrinpharma.org" class="footer__link"
					>support@innocrinpharma.org</a
				>
			</div>
			<div class="footer__wrap">
				<div class="footer__title-small">Call Us</div>
				<a href="tel:+9192379536" class="footer__link">919.237.9536</a>
			</div>
			<div class="footer__wrap">
				<div>Monday – Friday: 9:00am – 5:00pm</div>
				<div>Saturday & Sunday: 10:00am – 4:00pm</div>
			</div>
			<div class="copyright">Copyright © Innocrin Pharmaceuticals Inc.</div>
		</div>
	</div>
</footer>
