<section class="navigate">
	<div class="navigate__container container">
		<div class="navigate__top">
			<ul class="menu navigate__menu">
				<div class="navigate-menu-item">Navigation:</div>

				<li class="menu-item">
					<a href="#">Home</a>
				</li>
				<li class="menu-item">
					<a href="#">About Us</a>
				</li>
				<li class="menu-item">
					<a href="#">How to Save</a>
				</li>
				<li class="menu-item">
					<a href="#">Ordering guide</a>
				</li>
				<li class="menu-item">
					<a href="#">Frequently Asked Questions</a>
				</li>
			</ul>
		</div>
		<form action="#" class="form">
			<div class="form-field">
				<input
					type="text"
					name="search"
					placeholder="Search items by name..."
				/>
			</div>
		</form>
		<div class="product-cards">
			<div class="product-card">
				<div class="product-card__title">Flagyl Generic</div>
				<div class="product-card__actions">
					<div class="product-card__price">$0.77</div>
					<a href="#" class="btn-next">
						<svg
							width="40"
							height="40"
							viewBox="0 0 41 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M17.1667 12.167L24.0859 19.0861C24.7525 19.7528 25.0859 20.0861 25.0859 20.5003C25.0859 20.9145 24.7525 21.2479 24.0859 21.9145L17.1667 28.8337"
								stroke-width="2.5"
							/>
						</svg>
					</a>
				</div>
			</div>
			<div class="product-card">
				<div class="product-card__title">Generic Viagra</div>
				<div class="product-card__actions">
					<div class="product-card__price">$0.77</div>
					<a href="#" class="btn-next">
						<svg
							width="40"
							height="40"
							viewBox="0 0 41 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M17.1667 12.167L24.0859 19.0861C24.7525 19.7528 25.0859 20.0861 25.0859 20.5003C25.0859 20.9145 24.7525 21.2479 24.0859 21.9145L17.1667 28.8337"
								stroke-width="2.5"
							/>
						</svg>
					</a>
				</div>
			</div>
			<div class="product-card">
				<div class="product-card__title">Biaxin</div>
				<div class="product-card__actions">
					<div class="product-card__price">$0.77</div>
					<a href="#" class="btn-next">
						<svg
							width="40"
							height="40"
							viewBox="0 0 41 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M17.1667 12.167L24.0859 19.0861C24.7525 19.7528 25.0859 20.0861 25.0859 20.5003C25.0859 20.9145 24.7525 21.2479 24.0859 21.9145L17.1667 28.8337"
								stroke-width="2.5"
							/>
						</svg>
					</a>
				</div>
			</div>
			<div class="product-card">
				<div class="product-card__title">Generic Cialis</div>
				<div class="product-card__actions">
					<div class="product-card__price">$0.77</div>
					<a href="#" class="btn-next">
						<svg
							width="40"
							height="40"
							viewBox="0 0 41 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M17.1667 12.167L24.0859 19.0861C24.7525 19.7528 25.0859 20.0861 25.0859 20.5003C25.0859 20.9145 24.7525 21.2479 24.0859 21.9145L17.1667 28.8337"
								stroke-width="2.5"
							/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
